body {
    margin: 60px auto;
    width: 70%;
    
}
nav ul, footer ul {
    font-family:'Lucida Console, Courier, monospace';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 150em;
    font-family:'Lucida Console, Courier, monospace';
    color: #ffffff;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #00BCE3;
}
footer {
    border-top: 1px solid #04d9ff;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
