<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background="vistamou.github.io/o-NEURONS-facebook.jpg">
			
			<nav>
				<h1 style="color:#4666FF;"> Viv Stamou</h1>
	    		<ul>
<!-- 	        		<li><a href="/">Home</a></li> -->
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Posts</a></li>
				<li><a href="/research">Research</a></li>
				
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:blablah@gmail.com">email</a></li>
	        		<li><a href="https://github.com/vistamou">github.com/vistamou</a></li>
				</ul>
			</footer>
			<div class=fakeMenu>
  <div class="fakeButtons fakeClose"></div>
  <div class="fakeButtons fakeMinimize"></div>
  <div class="fakeButtons fakeZoom"></div>
</div>
<div class="fakeScreen">
  <p class="line1">$ hello!<span class="cursor1">_</span></p>
  <p class="line2">My personal assistant is here to help you.<span class="cursor2">_</span></p>
  <p class="line3">[?] What more would you like? (Press space to select)<span class="cursor3">_</span></p>
  <p class="line4">><span class="cursor4">_</span></p>
</div>
		</body>
	</html>
